<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\assets\js\Meting.min.js"></script>@font-face{
    font-family:'lxk' ;  /* 字体名自定义即可 */
    src:url('/fontdest/李旭科书法1.4.ttf'); /* 字体文件路径 */
    font-display : swap;
}

body{
    font-family: 'lxk';
}

